/* reset */
html, body{
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

/* cyrillic */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/cKr_e199f0xMkxMkRbEJXyEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* latin-ext */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/3Annd_XP-99FcGbOpm6fVCEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Poiret One';
  font-style: normal;
  font-weight: 400;
  src: local('Poiret One'), local('PoiretOne-Regular'), url(https://fonts.gstatic.com/s/poiretone/v4/HrI4ZJpJ3Fh0wa5ofYMK8fk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* body */
body {
  background-color: #ffffff;
  font-family: メイリオ, Meiryo, Osaka, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
}

.row {
  padding: 10px 0;
  color: #000;
  font-weight: 100;
  font-size: 16px;
}

.row table {
  color: #000000;
  font-weight: 100;
}

th {
  color: #000000;
  font-weight: 100;
}

/* Menu */
nav ul li a {
  text-shadow: 1px 1px 3px #333;
}

/* Top */
.contents-area-top {
  padding: 80px 0px 0px 0px;
  color: #000000;
}

.contents-area-top h1 {
  color: #000000;
  font-size: 100px;
  margin-bottom: 0px;
  font-family: 'Poiret One', cursive;
}

.contents-area-top p {
  color: #00baff;
  font-size: 25px;
  margin: 0px;
  font-family: 'Poiret One', cursive;
}
/* contents-area */
.contents-area {
  padding-top: 20px;
}

.contents-area h2 {
  font-family: 'Poiret One', cursive;
  color: #000;
  font-weight: 100;
  font-size: 40px;
  padding-bottom: 10px;
}

.contents-area:nth-child(odd) .row {
  background-color: #fff;
}

.contents-area:nth-child(even) .row {
  background-color: #f1f1f1;
}

.contents-area a img {
  -moz-box-shadow: 2px 2px 3px #aaa;
  -webkit-box-shadow: 2px 2px 3px #aaa;
  -o-box-shadow: 2px 2px 3px #aaa;
  -ms-box-shadow: 2px 2px 3px #aaa;
}

/* Work */
.picture img {
  width: 100%;
  height: auto;
  margin-top: 10px;
}

/* Info */
.info ul {
  list-style: none;
  padding: 0;
}

.info ul li {
  margin-top: 30px;
}

.info .picture img {
  width: 100%;
  height: auto;
}

.info p {
  color: #000;
  background-color: #fff;
  padding: 20px 20px;
  text-decoration: none;
  -moz-box-shadow: 2px 2px 3px #aaa;
  -webkit-box-shadow: 2px 2px 3px #aaa;
  -o-box-shadow: 2px 2px 3px #aaa;
  -ms-box-shadow: 2px 2px 3px #aaa;
}

.info p:hover {
  color: #fff;
  background-color: #000;
}

/* footer */
footer {
  padding: 0;
  position: relative;
  background-color: #808080;
}

footer p {
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 100;
  position: relative;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

footer .copy {
  font-family: 'Poiret One', cursive;
}

/* page-top */
#page-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 20px;
  z-index: 1;
  border-bottom: 0px;
}

#page-top a {
  width: 70px;
  padding: 0px 0;
  text-align: center;
  display: block;
  border: none;
}

/* お問合せフォーム */
.contact-title{
  color: #000000;
  font-size: 20px;
  font-family: 'Noto Sans Japanese', serif;
  font-weight: 100;
  margin: 0px 0px 30px 0px;
}

.row-title{
  color: #000000;
  font-size: 18px;
  font-family: 'Noto Sans Japanese', serif;
  font-weight: 100;
  margin: 0px 0px 30px 0px;
  text-align: left;
  vertical-align: top;
}

.contact-error{
  color: #ff0000;
  font-size: 15px;
  font-family: 'Noto Sans Japanese', serif;
  font-weight: 100;
  margin: 3px 0px 3px 0px;
  text-align: left;
  vertical-align: top;
}

.contact-input{
  width: 100%;
  font-size: 15px;
  font-family: 'Noto Sans Japanese', serif;
  font-weight: 100;
}

.contact-select select{
  font-size: 15px;
  font-family: 'Noto Sans Japanese', serif;
  font-weight: 100;
}

.contact-select option{
  font-size: 15px;
  font-family: 'Noto Sans Japanese', serif;
  font-weight: 100;
}

.contact-text{
  font-size: 15px;
  font-family: 'Noto Sans Japanese', serif;
  font-weight: 100;
}

.submit_button{
  color: #000000;
  margin: 5px 0px 5px 0px;
  width: 100%;
  font-size: 20px;
  font-family: 'Noto Sans Japanese', serif;
  font-weight: 100;
  background-color: rgba(255, 255, 255, 0);
  border-style: solid;
  border-color: #000000;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

.submit_button::before,
.submit_button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.submit_button,
.submit_button::before,
.submit_button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.submit_button:hover {
  color: #ffffff;
  background-color: #000000;
}

/*　ウィンドウサイズが767px以下から読み込む　*/
@media screen and (max-width:767px) {

  /* グローバルナビゲーション */
  #global-nav ul {
    padding: 0px;
  }

  /* Top */
  .contents-area-top {
    padding: 60px 0px 0px 0px;
    color: #000000;
  }

}
